.types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.typeHeader {
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logoType {
    padding: 0 2rem;
}

.btnFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Roboto-B";
    color: #FFCB05;
    letter-spacing: 0.07rem;
    text-shadow: #2C72B8 0px 54px 55px, #2C72B8 0px -12px 30px, #2C72B8 0px 4px 6px, #2C72B8 0px 12px 13px, #2C72B8 0px -3px 5px;
    ;
    font-weight: 900;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 4rem;

}


button {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 20vw;
}