#root {
    --color-back-light: #CCDADD;
    --color-back-dark: #1C1C1C;
    --padding-global: 1rem;
    --gradient-mode-ligth: linear-gradient(-45deg, #FFCB05, #FFE1C6);
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    gap: 1rem;
}

.search {
    width: 30%;
}


input[type="text"] {
    width: max-content;
    margin: 1rem 0;
    padding: 1rem var(--padding-global);
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}