@font-face {
    font-family: "Roboto-Light";
    src: url(../../assets/font/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto-Black";
    src: url(../../assets/font/Roboto-Black.ttf);
}

#root {
    max-width: 375px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-back-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Light";
}

.scBodyList {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.divPokeCard {
    width: 150px;
    height: 150px;
    background: linear-gradient(-45deg, #FFCB05, #FFE1C6);
    border-radius: 1rem;
}

.divPokeCard img {
    position: relative;
    top: -40px;
}

.divPokeCard div {
    width: fit-content;
    height: max-content;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: var(--padding-global);
    background-color: #fff;
}

.divPokeCardBottom {
    position: relative;
    top: -70px;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    width: 150px;
    height: 30px;
    display: flex;
    display: flex;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    font-family: "Roboto-Black";
    text-transform: capitalize;
}