.detailTop {
    text-align: center;
}

h1 {
    font-size: 5rem;
}

.imgDetail {
    height: 240px;
    width: 240px;
}

.divAbility, .divTypes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.pAbility, .pTypes {
    box-shadow: inset 0 0 16px black;
    padding: 1rem 2rem;
    border-radius: 1rem;
}



#pokechart {
    height: 120px;
    width: 120px;
}