* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --color-red: #FFFFFF;

  --padding-global: 1rem;
  --cardWidth: calc((100vw - 2 * var(--padding-global)) / 4)
  --screen-width: 1920px
}