* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --padding-global: 1rem;
  --cardWidth: calc((100vw - 2 * var(--padding-global)) / 4) --screen-width: 1920px;
  --color-back-light: #CCDADD;
  --color-back-dark: #1C1C1C;
}


.darkMode {
  background-color: #1C1C1C;
}

.lightMode {
  background-color: #CCDADD;
}