.scBodyList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem var(--padding-global)
}

.divPokeCard {
    width: var(--cardWidth);
    padding: var(--padding-global);
}

.divPokeCard img {
    width: 100%;
}

.divPokeCard div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-global);
}